# This is Git's per-user configuration file.
[user]
	name = Alison Americo
	email = alisonlira@proton.me

[pull]
    rebase = true

[includeIf "gitdir:~/work/"]
    path = ~/work/.gitconfig-work

[core]
	editor = nvim
