[user]
    name = Alison Americo
    email = alisonlira@proton.me

[core]
    editor = nvim

[includeIf "gitdir:~/projects/work/"]
    path = ~/.gitconfig-work

[pull]
    rebase = true

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
